body
{
background-color:gray
}

div
{
display:inline;				
}
#dice 
{
margin-left:470px;
margin-right:200px;
}	
h1
{
text-align:center;
font-family:Tahoma;
font-weight:bold;
font-size:5em;
}
p
{
clear:both;
text-align:center;
}